@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    font-family: "Lexend", sans-serif;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-gray-1 {
    border-color: #DDDDDD;

  }

  .border-gray-2 {
    border-color: #EBEBEB;

  }

  .outline-blue-1 {
    outline-color: #3880FF;
  }

  .shadow-1 {
    box-shadow: 0px 1px 2px #00000014;
  }

  .bg-blue-1 {
    background-color: #3880ff;
  }

  .bg-blue-2 {
    background-color: #E9F2FF;

  }

  .bg-blue-3 {
    background-color: #F8FBFF;
  }

  .bg-gray-1 {
    background-color: #F7F7F7;
  }

  .bg-gray-2 {
    background-color: #555555;
  }

  .bg-gray-3 {
    background-color: #1E292CBF;
  }

  .bg-gray-4 {
    background-color: #1E292C76;

  }

  .bg-gray-5 {
    background-color: #F3F5FB;

  }

  .bg-gray-6 {
    background-color: #FAFAFA;
  }

  .bg-gray-7 {
    background-color: #666666;
  }

  .bg-gray-08 {
    background-color: #f1f8ff;
    border: thin solid #d0dfe8;
  }

  .bg-black-1 {
    background-color: #000000F8;
  }

  .bg-red-1 {
    background-color: #FA3A13;
  }

  .text-red-1 {
    color: #FA3A13;

  }

  .bg-red-2 {
    background-color: #FFEBE7;
  }

  .bg-orange-1 {
    background-color: #FF8B27;
  }

  .bg-pink-1 {
    background-color: #FFFCEC;
  }

  .bg-green-1 {
    background-color: #39B136;
  }

  .bg-green-2 {
    background-color: #EBF7EA;
  }

  .text-green-1 {
    color: #39B136;

  }

  .text-grey-1 {
    color: #717171;
  }

  .text-grey-2 {
    color: #555555;
  }

  .text-grey-3 {
    color: #999999;
  }

  .text-grey-4 {
    color: #AAAAAA;
  }

  .text-grey-5 {
    color: #666666;
  }

  .text-blue-1 {
    color: #387FFF;
  }

  .text-blue-2 {
    color: #3880FF;
  }

  .shadow-2 {
    box-shadow: 0px 2px 16px #0000001F;
  }

  .bg-gradient-1 {
    background: transparent linear-gradient(90deg, #3F2B96 0%, #5B41CC 100%);
  }

  .bg-yellow-1 {
    background-color: #FCBC05;
  }

  .text-yellow-1 {
    color: #FCBC05;

  }

  .bg-yellow-2 {
    background-color: #FFF8E5;
  }

  /* 10-04-24 */


  .text-grey-6 {
    color: #222222;

  }

  .bg-dark-1 {
    background-color: #0C1117;
  }

  .bg-dark-2 {
    background-color: #161B22;
  }

  .bg-dark-3 {
    background-color: #17171A;
  }

  .bg-dark-4 {
    background-color: #0E1117;
  }



  .text-light-1 {
    color: #E6EDF3;
  }

  .text-light-2 {

    color: #848D97;
  }

  .border-dark-1 {
    border-color: #252B31;
  }

  .text-blue-1-dark {
    color: #A4C4FD;
  }

  .text-yellow-1-dark {
    color: #FDE6A2;
  }

  .text-red-1-dark {
    color: #FDB0A1;
  }

  .text-green-1-dark {
    color: #A4FCA1;

  }

  .bg-green-2-dark {
    background-color: #426C3E;
  }

  .bg-yellow-2-dark {
    background-color: #95814A;
  }

  .bg-red-2-dark {
    background-color: #765751;
  }

  .bg-blue-2-dark {
    background-color: #314B6F;
  }

  /* may 4 2024 */
  .brg-8 {
    filter: brightness(0.8);
  }

  .horizontal-grid {
    display: grid;
    column-gap: 24px;
    row-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 20px;
  }


  .bg-tr {
    background-image: url('/img/backdrop.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-size: contain;
  }

  .dark .bg-tr {
    background-image: none;
  }

  .dark .MuiSlider-thumb,
  .dark .MuiSlider-track {
    background-color: #ffffffff !important;
  }

  .dark .MuiSlider-rail {
    background-color: #848d97;
  }

  .light .MuiSlider-thumb,
  .light .MuiSlider-track {
    background-color: #000000 !important;
  }

  .light .MuiSlider-rail {
    background-color: #848d97;
  }

  /* -----may-24---- */
  .text-gray05 {
    color: #DDDDDD;
  }

  .text-grey-7 {
    color: #353740;
  }

  /* jun-4 */
  .svg-none svg{
    display: none;
  }

  .svg-none h2{
    width: 100%;
    display: flex;
    gap: 16px;
  }
}

::-webkit-file-upload-button{
  cursor: pointer;
}

.loader {
  width: 18px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
  margin: 0 auto;
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #ffff 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #ffff 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}

.default-font *{
  font-weight: 400 !important; 
  font-size: 0.875rem !important;
  color: #999999 !important;
  margin: 0 !important;
  line-height: normal !important;
}

.default-font a{
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 5;
  color: #387FFF !important;
}

.default-font a:hover::before{
  content: '';
  display: inline-block;
  width: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color:#387FFF;
}


.default-font :is(p,h1,h2,h3,h4,h5,h6,ul,li,ol){
  margin-bottom: 15px !important;
}

input.placeholder-text::placeholder{
  font-weight: bold !important;
}